In [11]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series
import datetime as dt

In [12]:
df_original = pd.read_csv('data.csv')
df_original = df_original.sample(frac=0.1)
df_original.head()

,date,count,week,hour,minute,hour_half,special_day,test_season,vacation
22867,2018-05-20 17:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140942,2018-06-24 15:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95166,2018-05-16 18:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106876,2018-05-27 13:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127607,2018-06-14 17:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_original = df_original.sort_index()

In [14]:
del df_original["count"]
del df_original["week"]
del df_original["hour"]
del df_original["minute"]
del df_original["hour_half"]
del df_original["special_day"]
del df_original["test_season"]
del df_original["vacation"]

In [15]:
from dateutil.parser import parse
df_original.date = df_original.date.apply(lambda x : parse(x))

df_original['date'] = pd.to_datetime(df_original['date']).values.astype('datetime64[D]')
df_original['month'] = df_original['date'].astype('str').str.slice(5, 7)
df_original['day'] = df_original['date'].astype('str').str.slice(8, 10)

df_original['hour'] = df_original.date.apply(lambda x : x.strftime("%H"))
df_original['minute'] = df_original.date.apply(lambda x: x.strftime("%M"))

df_original

             date month day hour minute
8      2018-04-01    04  01   00     00
9      2018-04-01    04  01   00     00
14     2018-04-01    04  01   00     00
18     2018-04-01    04  01   00     00
38     2018-04-01    04  01   00     00
55     2018-04-01    04  01   00     00
67     2018-04-01    04  01   00     00
78     2018-04-01    04  01   00     00
96     2018-04-01    04  01   00     00
118    2018-04-01    04  01   00     00
120    2018-04-01    04  01   00     00
146    2018-04-01    04  01   00     00
151    2018-04-01    04  01   00     00
171    2018-04-01    04  01   00     00
172    2018-04-01    04  01   00     00
177    2018-04-01    04  01   00     00
191    2018-04-01    04  01   00     00
197    2018-04-01    04  01   00     00
202    2018-04-01    04  01   00     00
219    2018-04-01    04  01   00     00
222    2018-04-01    04  01   00     00
247    2018-04-01    04  01   00     00
259    2018-04-01    04  01   00     00
262    2018-04-01    04  01   00     00
280    2018-04-01    04  01   00     00
283    2018-04-01    04  01   00     00
295    2018-04-01    04  01   00     00
299    2018-04-01    04  01   00     00
328    2018-04-01    04  01   00     00
336    2018-04-01    04  01   00     00
...           ...   ...  ..  ...    ...
158730 2018-06-29    06  29   00     00
158731 2018-06-29    06  29   00     00
158737 2018-06-29    06  29   00     00
158768 2018-06-29    06  29   00     00
158781 2018-06-30    06  30   00     00
158784 2018-06-30    06  30   00     00
158809 2018-06-30    06  30   00     00
158814 2018-06-30    06  30   00     00
158832 2018-06-30    06  30   00     00
158844 2018-06-30    06  30   00     00
158847 2018-06-30    06  30   00     00
158849 2018-06-30    06  30   00     00
158852 2018-06-30    06  30   00     00
158855 2018-06-30    06  30   00     00
158875 2018-06-30    06  30   00     00
158878 2018-06-30    06  30   00     00
158879 2018-06-30    06  30   00     00
158884 2018-06-30    06  30   00     00
158891 2018-06-30    06  30   00     00
158897 2018-06-30    06  30   00     00
158903 2018-06-30    06  30   00     00
158917 2018-06-30    06  30   00     00
158921 2018-06-30    06  30   00     00
158935 2018-06-30    06  30   00     00
158941 2018-06-30    06  30   00     00
158942 2018-06-30    06  30   00     00
158943 2018-06-30    06  30   00     00
158945 2018-06-30    06  30   00     00
158947 2018-06-30    06  30   00     00
158949 2018-06-30    06  30   00     00

[15895 rows x 5 columns]

In [16]:
df_original["week"] = df_original.date.apply(lambda x : x.strftime("%A"))

In [17]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)

In [18]:
df_original_with_dummies

,date,month,day,hour,minute,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
8,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
9,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
14,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
18,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
38,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
55,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
67,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
78,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
96,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
118,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
120,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
146,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
151,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
171,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
172,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
177,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
191,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
197,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
202,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
219,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
222,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
247,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
259,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
262,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
280,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
283,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
295,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
299,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
328,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
336,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158730,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0
158731,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0
158737,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0
158768,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0
158781,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158784,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158809,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158814,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158832,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158844,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158847,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158849,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158852,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158855,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158875,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158878,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158879,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158884,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158891,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158897,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158903,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158917,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158921,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158935,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158941,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158942,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158943,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158945,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158947,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0
158949,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0

In [23]:
df_original_with_dummies["test_season"]=0
df_original_with_dummies["vacation"] = 0
df_original_with_dummies["special_day"] = 0
df_original_with_dummies["count"] = 0

In [24]:
df_original_with_dummies

,date,month,day,hour,minute,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,test_season,vacation,special_day,count
8,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
9,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
14,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
18,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
38,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
55,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
67,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
78,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
96,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
118,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
120,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
146,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
151,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
171,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
172,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
177,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
191,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
197,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
202,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
219,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
222,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
247,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
259,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
262,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
280,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
283,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
295,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
299,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
328,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
336,2018-04-01,04,01,00,00,Sunday,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158730,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0,0,0,0,0
158731,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0,0,0,0,0
158737,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0,0,0,0,0
158768,2018-06-29,06,29,00,00,Friday,1,0,0,0,0,0,0,0,0,0,0
158781,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158784,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158809,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158814,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158832,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158844,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158847,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158849,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158852,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158855,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158875,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158878,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158879,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158884,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158891,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158897,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158903,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158917,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158921,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158935,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158941,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158942,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158943,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158945,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158947,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0
158949,2018-06-30,06,30,00,00,Saturday,0,0,1,0,0,0,0,0,0,0,0

In [25]:
df_original_with_dummies.to_csv('/')

IsADirectoryError: [Errno 21] Is a directory: '/'

In [22]:
df_original["sun"] = 0
df_original[df_original['week'] == 'week_Sunday']['sun'] = 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
df_original

,date,mon,tue,wed,thr,fri,hour,minute,month,day,week,sun
9,2018-04-01,0,0,0,0,0,09,59,04,01,week_Sunday,0
12,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0
13,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0
21,2018-04-01,0,0,0,0,0,10,02,04,01,week_Sunday,0
37,2018-04-01,0,0,0,0,0,10,11,04,01,week_Sunday,0
42,2018-04-01,0,0,0,0,0,10,17,04,01,week_Sunday,0
45,2018-04-01,0,0,0,0,0,10,18,04,01,week_Sunday,0
70,2018-04-01,0,0,0,0,0,10,42,04,01,week_Sunday,0
88,2018-04-01,0,0,0,0,0,10,47,04,01,week_Sunday,0
114,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0
118,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0
125,2018-04-01,0,0,0,0,0,11,16,04,01,week_Sunday,0
151,2018-04-01,0,0,0,0,0,11,21,04,01,week_Sunday,0
163,2018-04-01,0,0,0,0,0,11,31,04,01,week_Sunday,0
168,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0
170,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0
181,2018-04-01,0,0,0,0,0,11,39,04,01,week_Sunday,0
189,2018-04-01,0,0,0,0,0,11,50,04,01,week_Sunday,0
193,2018-04-01,0,0,0,0,0,11,51,04,01,week_Sunday,0
197,2018-04-01,0,0,0,0,0,11,54,04,01,week_Sunday,0
208,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0
210,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0
212,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0
235,2018-04-01,0,0,0,0,0,12,25,04,01,week_Sunday,0
238,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0
244,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0
250,2018-04-01,0,0,0,0,0,12,28,04,01,week_Sunday,0
251,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0
252,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0
278,2018-04-01,0,0,0,0,0,12,48,04,01,week_Sunday,0
...,...,...,...,...,...,...,...,...,...,...,...,...
158657,2018-06-29,0,0,0,0,0,10,21,06,29,week_Friday,0
158733,2018-06-29,0,0,0,0,0,17,31,06,29,week_Friday,0
158746,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0
158750,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0
158758,2018-06-29,0,0,0,0,0,17,45,06,29,week_Friday,0
158771,2018-06-29,0,0,0,0,0,17,52,06,29,week_Friday,0
158779,2018-06-30,0,0,0,0,0,09,54,06,30,week_Saturday,0
158787,2018-06-30,0,0,0,0,0,10,11,06,30,week_Saturday,0
158790,2018-06-30,0,0,0,0,0,10,52,06,30,week_Saturday,0
158794,2018-06-30,0,0,0,0,0,11,09,06,30,week_Saturday,0
158799,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0
158803,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0
158824,2018-06-30,0,0,0,0,0,11,57,06,30,week_Saturday,0
158825,2018-06-30,0,0,0,0,0,12,11,06,30,week_Saturday,0
158835,2018-06-30,0,0,0,0,0,12,45,06,30,week_Saturday,0
158844,2018-06-30,0,0,0,0,0,12,55,06,30,week_Saturday,0
158847,2018-06-30,0,0,0,0,0,12,57,06,30,week_Saturday,0
158859,2018-06-30,0,0,0,0,0,13,17,06,30,week_Saturday,0
158863,2018-06-30,0,0,0,0,0,13,27,06,30,week_Saturday,0
158865,2018-06-30,0,0,0,0,0,13,40,06,30,week_Saturday,0
158867,2018-06-30,0,0,0,0,0,13,45,06,30,week_Saturday,0
158873,2018-06-30,0,0,0,0,0,13,56,06,30,week_Saturday,0
158891,2018-06-30,0,0,0,0,0,14,31,06,30,week_Saturday,0
158904,2018-06-30,0,0,0,0,0,15,31,06,30,week_Saturday,0
158907,2018-06-30,0,0,0,0,0,15,36,06,30,week_Saturday,0
158923,2018-06-30,0,0,0,0,0,16,43,06,30,week_Saturday,0
158931,2018-06-30,0,0,0,0,0,17,32,06,30,week_Saturday,0
158939,2018-06-30,0,0,0,0,0,17,48,06,30,week_Saturday,0
158940,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0
158945,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0

In [16]:
df_original[df_original['week'] == 'week_Monday']['mon'] = 1
print(df_original[df_original['week'] == 'week_Monday'])

             date  mon  tue  wed  thr  fri hour minute month day         week
855    2018-04-02    0    0    0    0    0   09     17    04  02  week_Monday
877    2018-04-02    0    0    0    0    0   11     13    04  02  week_Monday
881    2018-04-02    0    0    0    0    0   11     17    04  02  week_Monday
886    2018-04-02    0    0    0    0    0   11     20    04  02  week_Monday
901    2018-04-02    0    0    0    0    0   11     53    04  02  week_Monday
916    2018-04-02    0    0    0    0    0   12     14    04  02  week_Monday
931    2018-04-02    0    0    0    0    0   12     36    04  02  week_Monday
936    2018-04-02    0    0    0    0    0   12     41    04  02  week_Monday
945    2018-04-02    0    0    0    0    0   12     49    04  02  week_Monday
957    2018-04-02    0    0    0    0    0   13     01    04  02  week_Monday
965    2018-04-02    0    0    0    0    0   13     01    04  02  week_Monday
969    2018-04-02    0    0    0    0    0   13     04    04  02  week_Monday
996    2018-04-02    0    0    0    0    0   14     07    04  02  week_Monday
999    2018-04-02    0    0    0    0    0   14     07    04  02  week_Monday
1009   2018-04-02    0    0    0    0    0   14     22    04  02  week_Monday
1029   2018-04-02    0    0    0    0    0   15     40    04  02  week_Monday
1037   2018-04-02    0    0    0    0    0   16     01    04  02  week_Monday
1044   2018-04-02    0    0    0    0    0   16     02    04  02  week_Monday
1053   2018-04-02    0    0    0    0    0   16     15    04  02  week_Monday
1056   2018-04-02    0    0    0    0    0   16     16    04  02  week_Monday
1057   2018-04-02    0    0    0    0    0   16     22    04  02  week_Monday
1068   2018-04-02    0    0    0    0    0   16     34    04  02  week_Monday
1128   2018-04-02    0    0    0    0    0   17     35    04  02  week_Monday
1136   2018-04-02    0    0    0    0    0   17     41    04  02  week_Monday
1139   2018-04-02    0    0    0    0    0   17     43    04  02  week_Monday
1144   2018-04-02    0    0    0    0    0   17     47    04  02  week_Monday
1150   2018-04-02    0    0    0    0    0   17     48    04  02  week_Monday
1156   2018-04-02    0    0    0    0    0   17     52    04  02  week_Monday
1157   2018-04-02    0    0    0    0    0   17     53    04  02  week_Monday
1178   2018-04-02    0    0    0    0    0   19     15    04  02  week_Monday
...           ...  ...  ...  ...  ...  ...  ...    ...   ...  ..          ...
156599 2018-06-11    0    0    0    0    0   17     22    06  11  week_Monday
157242 2018-06-18    0    0    0    0    0   10     08    06  18  week_Monday
157244 2018-06-18    0    0    0    0    0   10     14    06  18  week_Monday
157245 2018-06-18    0    0    0    0    0   10     14    06  18  week_Monday
157248 2018-06-18    0    0    0    0    0   10     14    06  18  week_Monday
157253 2018-06-18    0    0    0    0    0   10     14    06  18  week_Monday
157255 2018-06-18    0    0    0    0    0   10     14    06  18  week_Monday
157278 2018-06-18    0    0    0    0    0   10     19    06  18  week_Monday
157285 2018-06-18    0    0    0    0    0   10     20    06  18  week_Monday
157303 2018-06-18    0    0    0    0    0   10     49    06  18  week_Monday
157330 2018-06-18    0    0    0    0    0   13     22    06  18  week_Monday
157333 2018-06-18    0    0    0    0    0   13     23    06  18  week_Monday
157337 2018-06-18    0    0    0    0    0   14     00    06  18  week_Monday
157358 2018-06-18    0    0    0    0    0   15     16    06  18  week_Monday
157372 2018-06-18    0    0    0    0    0   15     43    06  18  week_Monday
157379 2018-06-18    0    0    0    0    0   16     38    06  18  week_Monday
157387 2018-06-18    0    0    0    0    0   17     04    06  18  week_Monday
157395 2018-06-18    0    0    0    0    0   17     31    06  18  week_Monday
157404 2018-06-18    0    0    0    0    0   17     48    06  18  week_Monday
158166 2018-06-25    0    0    0    0    0   11     28    06  25  week_Monday
158172 2018-06-25    0    0    0    0    0   12     35    06  25  week_Monday
158179 2018-06-25    0    0    0    0    0   13     10    06  25  week_Monday
158184 2018-06-25    0    0    0    0    0   13     35    06  25  week_Monday
158187 2018-06-25    0    0    0    0    0   14     18    06  25  week_Monday
158201 2018-06-25    0    0    0    0    0   15     26    06  25  week_Monday
158214 2018-06-25    0    0    0    0    0   16     36    06  25  week_Monday
158216 2018-06-25    0    0    0    0    0   16     36    06  25  week_Monday
158230 2018-06-25    0    0    0    0    0   17     11    06  25  week_Monday
158233 2018-06-25    0    0    0    0    0   17     22    06  25  week_Monday
158247 2018-06-25    0    0    0    0    0   17     47    06  25  week_Monday

[1315 rows x 11 columns]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_original['month'] = df_original['date'].astype('str').str.slice(5, 7)
df_original['day'] = df_original['date'].astype('str').str.slice(8, 10)

In [ ]:
from dateutil.parser import parse
df_original.date = df_original.date.apply(lambda x : parse(x))
df_original.head()

In [ ]:
df_original.date.head()

jupyter 에서는 10% 데이터만 가지고 실험

In [ ]:
df_original.week = df_original.date.apply(lambda x : x.strftime("%A"))
df_original.head()

In [ ]:
df_original.hour = df_original.date.apply(lambda x : x.strftime("%H"))
df_original.minute = df_original.date.apply(lambda x: x.strftime("%M"))
df_original.head()

df_original.hour = df_original.hour.astype('int')
df_original.minute=  df_original.minute.astype('int')

In [ ]:
range0 = []
range1 = []

range30 = []
for i in range(0,30,1) :
    range30.append(i)
    range0.append(0)

range60 = []
for i in range(30,60,1) :
    range60.append(i)
    range1.append(1)

df_original.minute = df_original.minute.replace(range30, range0)
df_original.minute = df_original.minute.replace(range60, range1)
df_original.head()

In [ ]:
df_original.hour_half = df_original.loc[df_original.minute == 1].hour.apply(lambda a : a + 0.5)
df_original.hour_half.loc[df_original.minute == 0] = df_original.loc[df_original.minute == 0 ].hour.apply(lambda x : x)
df_original.head(10)

In [ ]:
import random

df_original['date'] = pd.to_datetime(df_original['date']).values.astype('datetime64[D]')
df_original

In [ ]:
df_original['month'] = df_original['date'].astype('str').str.slice(5, 7)
df_original['day'] = df_original['date'].astype('str').str.slice(8, 10)

In [ ]:
df_original

In [ ]:
cnt = 0
i = 0
for i in df_original['day']:
    if(i == '01'):
        cnt += 1
        print()
    else:
        break

In [ ]:
df_original.loc['2018-04-01']

In [ ]:
cnt

# Dummy 변수 만들기

In [19]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)

In [20]:
df_original_with_dummies

,date,mon,tue,wed,thr,fri,hour,minute,month,day,week,sun,week_Friday,week_Monday,week_Saturday,week_Sunday,week_Thursday,week_Tuesday,week_Wednesday
9,2018-04-01,0,0,0,0,0,09,59,04,01,week_Sunday,0,0,0,0,1,0,0,0
12,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0,0,0,0,1,0,0,0
13,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0,0,0,0,1,0,0,0
21,2018-04-01,0,0,0,0,0,10,02,04,01,week_Sunday,0,0,0,0,1,0,0,0
37,2018-04-01,0,0,0,0,0,10,11,04,01,week_Sunday,0,0,0,0,1,0,0,0
42,2018-04-01,0,0,0,0,0,10,17,04,01,week_Sunday,0,0,0,0,1,0,0,0
45,2018-04-01,0,0,0,0,0,10,18,04,01,week_Sunday,0,0,0,0,1,0,0,0
70,2018-04-01,0,0,0,0,0,10,42,04,01,week_Sunday,0,0,0,0,1,0,0,0
88,2018-04-01,0,0,0,0,0,10,47,04,01,week_Sunday,0,0,0,0,1,0,0,0
114,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0,0,0,0,1,0,0,0
118,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0,0,0,0,1,0,0,0
125,2018-04-01,0,0,0,0,0,11,16,04,01,week_Sunday,0,0,0,0,1,0,0,0
151,2018-04-01,0,0,0,0,0,11,21,04,01,week_Sunday,0,0,0,0,1,0,0,0
163,2018-04-01,0,0,0,0,0,11,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
168,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0,0,0,0,1,0,0,0
170,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0,0,0,0,1,0,0,0
181,2018-04-01,0,0,0,0,0,11,39,04,01,week_Sunday,0,0,0,0,1,0,0,0
189,2018-04-01,0,0,0,0,0,11,50,04,01,week_Sunday,0,0,0,0,1,0,0,0
193,2018-04-01,0,0,0,0,0,11,51,04,01,week_Sunday,0,0,0,0,1,0,0,0
197,2018-04-01,0,0,0,0,0,11,54,04,01,week_Sunday,0,0,0,0,1,0,0,0
208,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
210,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
212,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
235,2018-04-01,0,0,0,0,0,12,25,04,01,week_Sunday,0,0,0,0,1,0,0,0
238,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0,0,0,0,1,0,0,0
244,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0,0,0,0,1,0,0,0
250,2018-04-01,0,0,0,0,0,12,28,04,01,week_Sunday,0,0,0,0,1,0,0,0
251,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
252,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
278,2018-04-01,0,0,0,0,0,12,48,04,01,week_Sunday,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158657,2018-06-29,0,0,0,0,0,10,21,06,29,week_Friday,0,1,0,0,0,0,0,0
158733,2018-06-29,0,0,0,0,0,17,31,06,29,week_Friday,0,1,0,0,0,0,0,0
158746,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0,1,0,0,0,0,0,0
158750,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0,1,0,0,0,0,0,0
158758,2018-06-29,0,0,0,0,0,17,45,06,29,week_Friday,0,1,0,0,0,0,0,0
158771,2018-06-29,0,0,0,0,0,17,52,06,29,week_Friday,0,1,0,0,0,0,0,0
158779,2018-06-30,0,0,0,0,0,09,54,06,30,week_Saturday,0,0,0,1,0,0,0,0
158787,2018-06-30,0,0,0,0,0,10,11,06,30,week_Saturday,0,0,0,1,0,0,0,0
158790,2018-06-30,0,0,0,0,0,10,52,06,30,week_Saturday,0,0,0,1,0,0,0,0
158794,2018-06-30,0,0,0,0,0,11,09,06,30,week_Saturday,0,0,0,1,0,0,0,0
158799,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0,0,0,1,0,0,0,0
158803,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0,0,0,1,0,0,0,0
158824,2018-06-30,0,0,0,0,0,11,57,06,30,week_Saturday,0,0,0,1,0,0,0,0
158825,2018-06-30,0,0,0,0,0,12,11,06,30,week_Saturday,0,0,0,1,0,0,0,0
158835,2018-06-30,0,0,0,0,0,12,45,06,30,week_Saturday,0,0,0,1,0,0,0,0
158844,2018-06-30,0,0,0,0,0,12,55,06,30,week_Saturday,0,0,0,1,0,0,0,0
158847,2018-06-30,0,0,0,0,0,12,57,06,30,week_Saturday,0,0,0,1,0,0,0,0
158859,2018-06-30,0,0,0,0,0,13,17,06,30,week_Saturday,0,0,0,1,0,0,0,0
158863,2018-06-30,0,0,0,0,0,13,27,06,30,week_Saturday,0,0,0,1,0,0,0,0
158865,2018-06-30,0,0,0,0,0,13,40,06,30,week_Saturday,0,0,0,1,0,0,0,0
158867,2018-06-30,0,0,0,0,0,13,45,06,30,week_Saturday,0,0,0,1,0,0,0,0
158873,2018-06-30,0,0,0,0,0,13,56,06,30,week_Saturday,0,0,0,1,0,0,0,0
158891,2018-06-30,0,0,0,0,0,14,31,06,30,week_Saturday,0,0,0,1,0,0,0,0
158904,2018-06-30,0,0,0,0,0,15,31,06,30,week_Saturday,0,0,0,1,0,0,0,0
158907,2018-06-30,0,0,0,0,0,15,36,06,30,week_Saturday,0,0,0,1,0,0,0,0
158923,2018-06-30,0,0,0,0,0,16,43,06,30,week_Saturday,0,0,0,1,0,0,0,0
158931,2018-06-30,0,0,0,0,0,17,32,06,30,week_Saturday,0,0,0,1,0,0,0,0
158939,2018-06-30,0,0,0,0,0,17,48,06,30,week_Saturday,0,0,0,1,0,0,0,0
158940,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0,0,0,1,0,0,0,0
158945,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0,0,0,1,0,0,0,0

In [ ]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)
df_original_with_dummies = pd.concat([df_original_with_dummies, pd.get_dummies(df_original.hour_half)], axis= 1)

In [ ]:
df_original_with_dummies.columns

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

figure = plt.figure(figsize = [15, 10])
sns.countplot(df_original.hour[])