In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series
import datetime as dt

In [6]:
df_original = pd.read_csv('data.csv')
df_original.head()

,date,count,week,hour,minute,hour_half,special_day,test_season,vacation
0,2018-04-01 9:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-01 9:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-04-01 9:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-04-01 9:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-04-01 9:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_original = df_original.sort_index()

In [8]:
del df_original["count"]
del df_original["week"]
del df_original["hour"]
del df_original["minute"]
del df_original["hour_half"]
del df_original["special_day"]
del df_original["test_season"]
del df_original["vacation"]

In [9]:
from dateutil.parser import parse
df_original.date = df_original.date.apply(lambda x : parse(x))

df_original['hour'] = df_original.date.apply(lambda x : x.strftime("%H"))
df_original['minute'] = df_original.date.apply(lambda x: x.strftime("%M"))

df_original['date'] = pd.to_datetime(df_original['date']).values.astype('datetime64[D]')
df_original['month'] = df_original['date'].astype('str').str.slice(5, 7)
df_original['day'] = df_original['date'].astype('str').str.slice(8, 10)



df_original

             date hour minute month day
0      2018-04-01   09     10    04  01
1      2018-04-01   09     10    04  01
2      2018-04-01   09     39    04  01
3      2018-04-01   09     54    04  01
4      2018-04-01   09     54    04  01
5      2018-04-01   09     54    04  01
6      2018-04-01   09     54    04  01
7      2018-04-01   09     59    04  01
8      2018-04-01   09     59    04  01
9      2018-04-01   09     59    04  01
10     2018-04-01   09     59    04  01
11     2018-04-01   09     59    04  01
12     2018-04-01   10     00    04  01
13     2018-04-01   10     00    04  01
14     2018-04-01   10     00    04  01
15     2018-04-01   10     00    04  01
16     2018-04-01   10     00    04  01
17     2018-04-01   10     00    04  01
18     2018-04-01   10     00    04  01
19     2018-04-01   10     01    04  01
20     2018-04-01   10     01    04  01
21     2018-04-01   10     02    04  01
22     2018-04-01   10     02    04  01
23     2018-04-01   10     02    04  01
24     2018-04-01   10     02    04  01
25     2018-04-01   10     02    04  01
26     2018-04-01   10     02    04  01
27     2018-04-01   10     03    04  01
28     2018-04-01   10     03    04  01
29     2018-04-01   10     03    04  01
...           ...  ...    ...   ...  ..
158920 2018-06-30   16     26    06  30
158921 2018-06-30   16     26    06  30
158922 2018-06-30   16     26    06  30
158923 2018-06-30   16     43    06  30
158924 2018-06-30   16     43    06  30
158925 2018-06-30   16     43    06  30
158926 2018-06-30   16     51    06  30
158927 2018-06-30   16     51    06  30
158928 2018-06-30   16     56    06  30
158929 2018-06-30   16     58    06  30
158930 2018-06-30   17     32    06  30
158931 2018-06-30   17     32    06  30
158932 2018-06-30   17     32    06  30
158933 2018-06-30   17     32    06  30
158934 2018-06-30   17     32    06  30
158935 2018-06-30   17     39    06  30
158936 2018-06-30   17     39    06  30
158937 2018-06-30   17     48    06  30
158938 2018-06-30   17     48    06  30
158939 2018-06-30   17     48    06  30
158940 2018-06-30   17     51    06  30
158941 2018-06-30   17     51    06  30
158942 2018-06-30   17     51    06  30
158943 2018-06-30   17     51    06  30
158944 2018-06-30   17     51    06  30
158945 2018-06-30   17     51    06  30
158946 2018-06-30   17     52    06  30
158947 2018-06-30   17     52    06  30
158948 2018-06-30   17     52    06  30
158949 2018-06-30   17     52    06  30

[158950 rows x 5 columns]

In [10]:
df_original["week"] = df_original.date.apply(lambda x : x.strftime("%A"))

In [11]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)

In [12]:
df_original_with_dummies

,date,hour,minute,month,day,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2018-04-01,09,10,04,01,Sunday,0,0,0,1,0,0,0
1,2018-04-01,09,10,04,01,Sunday,0,0,0,1,0,0,0
2,2018-04-01,09,39,04,01,Sunday,0,0,0,1,0,0,0
3,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0
4,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0
5,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0
6,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0
7,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0
8,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0
9,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0
10,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0
11,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0
12,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
13,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
14,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
15,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
16,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
17,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
18,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0
19,2018-04-01,10,01,04,01,Sunday,0,0,0,1,0,0,0
20,2018-04-01,10,01,04,01,Sunday,0,0,0,1,0,0,0
21,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
22,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
23,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
24,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
25,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
26,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0
27,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0
28,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0
29,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158920,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0
158921,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0
158922,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0
158923,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0
158924,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0
158925,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0
158926,2018-06-30,16,51,06,30,Saturday,0,0,1,0,0,0,0
158927,2018-06-30,16,51,06,30,Saturday,0,0,1,0,0,0,0
158928,2018-06-30,16,56,06,30,Saturday,0,0,1,0,0,0,0
158929,2018-06-30,16,58,06,30,Saturday,0,0,1,0,0,0,0
158930,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0
158931,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0
158932,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0
158933,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0
158934,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0
158935,2018-06-30,17,39,06,30,Saturday,0,0,1,0,0,0,0
158936,2018-06-30,17,39,06,30,Saturday,0,0,1,0,0,0,0
158937,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0
158938,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0
158939,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0
158940,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158941,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158942,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158943,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158944,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158945,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0
158946,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0
158947,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0
158948,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0
158949,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0

In [13]:
df_original_with_dummies["test_season"]=0
df_original_with_dummies["vacation"] = 0
df_original_with_dummies["special_day"] = 0
df_original_with_dummies["count"] = 0

In [14]:
df_original_with_dummies

,date,hour,minute,month,day,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,test_season,vacation,special_day,count
0,2018-04-01,09,10,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
1,2018-04-01,09,10,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
2,2018-04-01,09,39,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
3,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
4,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
5,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
6,2018-04-01,09,54,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
7,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
8,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
9,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
10,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
11,2018-04-01,09,59,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
12,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
13,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
14,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
15,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
16,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
17,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
18,2018-04-01,10,00,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
19,2018-04-01,10,01,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
20,2018-04-01,10,01,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
21,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
22,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
23,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
24,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
25,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
26,2018-04-01,10,02,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
27,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
28,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
29,2018-04-01,10,03,04,01,Sunday,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158920,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158921,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158922,2018-06-30,16,26,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158923,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158924,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158925,2018-06-30,16,43,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158926,2018-06-30,16,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158927,2018-06-30,16,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158928,2018-06-30,16,56,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158929,2018-06-30,16,58,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158930,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158931,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158932,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158933,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158934,2018-06-30,17,32,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158935,2018-06-30,17,39,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158936,2018-06-30,17,39,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158937,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158938,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158939,2018-06-30,17,48,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158940,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158941,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158942,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158943,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158944,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158945,2018-06-30,17,51,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158946,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158947,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158948,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158949,2018-06-30,17,52,06,30,Saturday,0,0,1,0,0,0,0,0,0,0,0

In [15]:
df_original_with_dummies.to_csv('dataset.csv')

jupyter 에서는 10% 데이터만 가지고 실험

In [ ]:
df_original.week = df_original.date.apply(lambda x : x.strftime("%A"))
df_original.head()

In [ ]:
df_original.hour = df_original.date.apply(lambda x : x.strftime("%H"))
df_original.minute = df_original.date.apply(lambda x: x.strftime("%M"))
df_original.head()

df_original.hour = df_original.hour.astype('int')
df_original.minute=  df_original.minute.astype('int')

In [ ]:
range0 = []
range1 = []

range30 = []
for i in range(0,30,1) :
    range30.append(i)
    range0.append(0)

range60 = []
for i in range(30,60,1) :
    range60.append(i)
    range1.append(1)

df_original.minute = df_original.minute.replace(range30, range0)
df_original.minute = df_original.minute.replace(range60, range1)
df_original.head()

In [ ]:
df_original.hour_half = df_original.loc[df_original.minute == 1].hour.apply(lambda a : a + 0.5)
df_original.hour_half.loc[df_original.minute == 0] = df_original.loc[df_original.minute == 0 ].hour.apply(lambda x : x)
df_original.head(10)

In [ ]:
import random

df_original['date'] = pd.to_datetime(df_original['date']).values.astype('datetime64[D]')
df_original

In [ ]:
df_original['month'] = df_original['date'].astype('str').str.slice(5, 7)
df_original['day'] = df_original['date'].astype('str').str.slice(8, 10)

In [ ]:
df_original

In [ ]:
cnt = 0
i = 0
for i in df_original['day']:
    if(i == '01'):
        cnt += 1
        print()
    else:
        break

In [ ]:
df_original.loc['2018-04-01']

In [ ]:
cnt

# Dummy 변수 만들기

In [19]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)

In [20]:
df_original_with_dummies

,date,mon,tue,wed,thr,fri,hour,minute,month,day,week,sun,week_Friday,week_Monday,week_Saturday,week_Sunday,week_Thursday,week_Tuesday,week_Wednesday
9,2018-04-01,0,0,0,0,0,09,59,04,01,week_Sunday,0,0,0,0,1,0,0,0
12,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0,0,0,0,1,0,0,0
13,2018-04-01,0,0,0,0,0,10,00,04,01,week_Sunday,0,0,0,0,1,0,0,0
21,2018-04-01,0,0,0,0,0,10,02,04,01,week_Sunday,0,0,0,0,1,0,0,0
37,2018-04-01,0,0,0,0,0,10,11,04,01,week_Sunday,0,0,0,0,1,0,0,0
42,2018-04-01,0,0,0,0,0,10,17,04,01,week_Sunday,0,0,0,0,1,0,0,0
45,2018-04-01,0,0,0,0,0,10,18,04,01,week_Sunday,0,0,0,0,1,0,0,0
70,2018-04-01,0,0,0,0,0,10,42,04,01,week_Sunday,0,0,0,0,1,0,0,0
88,2018-04-01,0,0,0,0,0,10,47,04,01,week_Sunday,0,0,0,0,1,0,0,0
114,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0,0,0,0,1,0,0,0
118,2018-04-01,0,0,0,0,0,11,09,04,01,week_Sunday,0,0,0,0,1,0,0,0
125,2018-04-01,0,0,0,0,0,11,16,04,01,week_Sunday,0,0,0,0,1,0,0,0
151,2018-04-01,0,0,0,0,0,11,21,04,01,week_Sunday,0,0,0,0,1,0,0,0
163,2018-04-01,0,0,0,0,0,11,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
168,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0,0,0,0,1,0,0,0
170,2018-04-01,0,0,0,0,0,11,32,04,01,week_Sunday,0,0,0,0,1,0,0,0
181,2018-04-01,0,0,0,0,0,11,39,04,01,week_Sunday,0,0,0,0,1,0,0,0
189,2018-04-01,0,0,0,0,0,11,50,04,01,week_Sunday,0,0,0,0,1,0,0,0
193,2018-04-01,0,0,0,0,0,11,51,04,01,week_Sunday,0,0,0,0,1,0,0,0
197,2018-04-01,0,0,0,0,0,11,54,04,01,week_Sunday,0,0,0,0,1,0,0,0
208,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
210,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
212,2018-04-01,0,0,0,0,0,11,57,04,01,week_Sunday,0,0,0,0,1,0,0,0
235,2018-04-01,0,0,0,0,0,12,25,04,01,week_Sunday,0,0,0,0,1,0,0,0
238,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0,0,0,0,1,0,0,0
244,2018-04-01,0,0,0,0,0,12,26,04,01,week_Sunday,0,0,0,0,1,0,0,0
250,2018-04-01,0,0,0,0,0,12,28,04,01,week_Sunday,0,0,0,0,1,0,0,0
251,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
252,2018-04-01,0,0,0,0,0,12,31,04,01,week_Sunday,0,0,0,0,1,0,0,0
278,2018-04-01,0,0,0,0,0,12,48,04,01,week_Sunday,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158657,2018-06-29,0,0,0,0,0,10,21,06,29,week_Friday,0,1,0,0,0,0,0,0
158733,2018-06-29,0,0,0,0,0,17,31,06,29,week_Friday,0,1,0,0,0,0,0,0
158746,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0,1,0,0,0,0,0,0
158750,2018-06-29,0,0,0,0,0,17,34,06,29,week_Friday,0,1,0,0,0,0,0,0
158758,2018-06-29,0,0,0,0,0,17,45,06,29,week_Friday,0,1,0,0,0,0,0,0
158771,2018-06-29,0,0,0,0,0,17,52,06,29,week_Friday,0,1,0,0,0,0,0,0
158779,2018-06-30,0,0,0,0,0,09,54,06,30,week_Saturday,0,0,0,1,0,0,0,0
158787,2018-06-30,0,0,0,0,0,10,11,06,30,week_Saturday,0,0,0,1,0,0,0,0
158790,2018-06-30,0,0,0,0,0,10,52,06,30,week_Saturday,0,0,0,1,0,0,0,0
158794,2018-06-30,0,0,0,0,0,11,09,06,30,week_Saturday,0,0,0,1,0,0,0,0
158799,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0,0,0,1,0,0,0,0
158803,2018-06-30,0,0,0,0,0,11,16,06,30,week_Saturday,0,0,0,1,0,0,0,0
158824,2018-06-30,0,0,0,0,0,11,57,06,30,week_Saturday,0,0,0,1,0,0,0,0
158825,2018-06-30,0,0,0,0,0,12,11,06,30,week_Saturday,0,0,0,1,0,0,0,0
158835,2018-06-30,0,0,0,0,0,12,45,06,30,week_Saturday,0,0,0,1,0,0,0,0
158844,2018-06-30,0,0,0,0,0,12,55,06,30,week_Saturday,0,0,0,1,0,0,0,0
158847,2018-06-30,0,0,0,0,0,12,57,06,30,week_Saturday,0,0,0,1,0,0,0,0
158859,2018-06-30,0,0,0,0,0,13,17,06,30,week_Saturday,0,0,0,1,0,0,0,0
158863,2018-06-30,0,0,0,0,0,13,27,06,30,week_Saturday,0,0,0,1,0,0,0,0
158865,2018-06-30,0,0,0,0,0,13,40,06,30,week_Saturday,0,0,0,1,0,0,0,0
158867,2018-06-30,0,0,0,0,0,13,45,06,30,week_Saturday,0,0,0,1,0,0,0,0
158873,2018-06-30,0,0,0,0,0,13,56,06,30,week_Saturday,0,0,0,1,0,0,0,0
158891,2018-06-30,0,0,0,0,0,14,31,06,30,week_Saturday,0,0,0,1,0,0,0,0
158904,2018-06-30,0,0,0,0,0,15,31,06,30,week_Saturday,0,0,0,1,0,0,0,0
158907,2018-06-30,0,0,0,0,0,15,36,06,30,week_Saturday,0,0,0,1,0,0,0,0
158923,2018-06-30,0,0,0,0,0,16,43,06,30,week_Saturday,0,0,0,1,0,0,0,0
158931,2018-06-30,0,0,0,0,0,17,32,06,30,week_Saturday,0,0,0,1,0,0,0,0
158939,2018-06-30,0,0,0,0,0,17,48,06,30,week_Saturday,0,0,0,1,0,0,0,0
158940,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0,0,0,1,0,0,0,0
158945,2018-06-30,0,0,0,0,0,17,51,06,30,week_Saturday,0,0,0,1,0,0,0,0

In [ ]:
df_original_with_dummies = pd.concat([df_original, pd.get_dummies(df_original.week)], axis = 1)
df_original_with_dummies = pd.concat([df_original_with_dummies, pd.get_dummies(df_original.hour_half)], axis= 1)

In [ ]:
df_original_with_dummies.columns

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

figure = plt.figure(figsize = [15, 10])
sns.countplot(df_original.hour[])