In [4]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series
import datetime as dt

df_original = pd.read_csv('dataset.csv')
df_original = df_original.sample(frac=0.1)
df_original = df_original.sort_index()

In [6]:
df_original

,Unnamed: 0,date,hour,minute,month,day,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,test_season,vacation,special_day,count
7,7,2018-04-01,9,59,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
11,11,2018-04-01,9,59,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
14,14,2018-04-01,10,0,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
31,31,2018-04-01,10,5,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
32,32,2018-04-01,10,5,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
35,35,2018-04-01,10,11,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
46,46,2018-04-01,10,20,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
55,55,2018-04-01,10,22,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
58,58,2018-04-01,10,22,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
60,60,2018-04-01,10,29,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
61,61,2018-04-01,10,29,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
75,75,2018-04-01,10,43,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
104,104,2018-04-01,11,7,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
118,118,2018-04-01,11,9,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
120,120,2018-04-01,11,9,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
131,131,2018-04-01,11,17,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
164,164,2018-04-01,11,32,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
175,175,2018-04-01,11,39,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
180,180,2018-04-01,11,39,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
182,182,2018-04-01,11,39,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
196,196,2018-04-01,11,53,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
207,207,2018-04-01,11,57,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
220,220,2018-04-01,12,16,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
232,232,2018-04-01,12,17,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
239,239,2018-04-01,12,26,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
245,245,2018-04-01,12,26,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
253,253,2018-04-01,12,31,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
260,260,2018-04-01,12,33,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
263,263,2018-04-01,12,34,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
268,268,2018-04-01,12,46,4,1,Sunday,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158620,158620,2018-06-28,16,33,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158623,158623,2018-06-28,16,37,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158632,158632,2018-06-28,16,40,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158633,158633,2018-06-28,16,45,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158635,158635,2018-06-28,16,45,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158641,158641,2018-06-28,17,9,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158642,158642,2018-06-28,17,9,6,28,Thursday,0,0,0,0,1,0,0,0,0,0,0
158660,158660,2018-06-29,10,37,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158671,158671,2018-06-29,12,16,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158676,158676,2018-06-29,12,31,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158691,158691,2018-06-29,14,2,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158696,158696,2018-06-29,14,52,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158707,158707,2018-06-29,16,14,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158720,158720,2018-06-29,17,21,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158730,158730,2018-06-29,17,26,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158765,158765,2018-06-29,17,52,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158772,158772,2018-06-29,17,54,6,29,Friday,1,0,0,0,0,0,0,0,0,0,0
158777,158777,2018-06-30,9,53,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158791,158791,2018-06-30,10,52,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158812,158812,2018-06-30,11,25,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158823,158823,2018-06-30,11,55,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158840,158840,2018-06-30,12,46,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158846,158846,2018-06-30,12,57,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158857,158857,2018-06-30,13,17,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158866,158866,2018-06-30,13,40,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158873,158873,2018-06-30,13,56,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158883,158883,2018-06-30,14,25,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158925,158925,2018-06-30,16,43,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158929,158929,2018-06-30,16,58,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0
158946,158946,2018-06-30,17,52,6,30,Saturday,0,0,1,0,0,0,0,0,0,0,0

In [16]:
data = { "month": [4],"hour" : [0],  "Friday": [0], "Monday": [1], "Saturday": [0], "Tursday": [0], "Tuesday": [0], "Wednesday": [0], "test_season": [0], "vacation": [0], "special_day": [0], "count": [0]}

In [17]:
week_df = pd.DataFrame(data)

In [18]:
week_df

,month,hour,Friday,Monday,Saturday,Tursday,Tuesday,Wednesday,test_season,vacation,special_day,count
0,4,0,0,1,0,0,0,0,0,0,0,0

In [7]:
df_original[df_original["week"] == 'Monday']

,Unnamed: 0,date,month,day,hour,minute,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,test_season,vacation,special_day,count
92,944,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
99,992,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
112,1129,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
114,1141,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
124,1186,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
131,1219,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
761,7464,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
765,7523,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
770,7578,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
792,7861,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
795,7874,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
1074,10837,2018-04-23,4,23,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
1082,10956,2018-04-23,4,23,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
1415,14243,2018-04-30,4,30,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
1435,14460,2018-04-30,4,30,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2335,23311,2018-05-21,5,21,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2337,23330,2018-05-21,5,21,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2342,23377,2018-05-21,5,21,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2616,26129,2018-05-28,5,28,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2623,26200,2018-05-28,5,28,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2633,26304,2018-05-28,5,28,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2958,29373,2018-06-04,6,4,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2991,29703,2018-06-04,6,4,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
2995,29720,2018-06-04,6,4,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3252,32385,2018-06-11,6,11,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3488,34788,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3492,34823,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3493,34828,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3496,34843,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
3529,35231,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13379,134127,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
13380,134137,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
13385,134157,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
13397,134282,2018-06-18,6,18,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14210,142158,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14212,142187,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14215,142230,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14221,142347,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14226,142375,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14255,142582,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14264,142662,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14267,142719,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14272,142807,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14274,142853,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14280,142955,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14282,142997,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14939,149261,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
14941,149270,2018-04-02,4,2,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15004,149856,2018-04-09,4,9,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15005,149877,2018-04-09,4,9,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15083,150581,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15100,150730,2018-04-16,4,16,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15218,152070,2018-04-30,4,30,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15324,153215,2018-05-14,5,14,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15329,153290,2018-05-14,5,14,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15412,154168,2018-05-21,5,21,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15454,154757,2018-05-28,5,28,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15567,155884,2018-06-04,6,4,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15805,158190,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0
15815,158240,2018-06-25,6,25,0,0,Monday,0,1,0,0,0,0,0,0,0,0,0

In [29]:
df_original["day"]

7          1
11         1
14         1
31         1
32         1
35         1
46         1
55         1
58         1
60         1
61         1
75         1
104        1
118        1
120        1
131        1
164        1
175        1
180        1
182        1
196        1
207        1
220        1
232        1
239        1
245        1
253        1
260        1
263        1
268        1
          ..
158620    28
158623    28
158632    28
158633    28
158635    28
158641    28
158642    28
158660    29
158671    29
158676    29
158691    29
158696    29
158707    29
158720    29
158730    29
158765    29
158772    29
158777    30
158791    30
158812    30
158823    30
158840    30
158846    30
158857    30
158866    30
158873    30
158883    30
158925    30
158929    30
158946    30
Name: day, Length: 15895, dtype: int64

In [37]:
april_df = df_original[(df_original["month"] == 4)]
april_mon_df = april_df[april_df["week"] == "Monday"]

In [ ]:
avg = 0
tmp = 0
now_m = 0
now_n = 0
c_n = 0
c_m = 0
for i in range(april_mon_df:
    tmp += 1
    if()

In [41]:
april_mon_df.iloc(1:2)

SyntaxError: invalid syntax (<ipython-input-41-e13b35b95fb0>, line 1)

In [38]:
april_mon_df

,Unnamed: 0,date,hour,minute,month,day,week,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,test_season,vacation,special_day,count
865,865,2018-04-02,9,41,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
869,869,2018-04-02,9,42,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
888,888,2018-04-02,11,30,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
894,894,2018-04-02,11,49,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
896,896,2018-04-02,11,50,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
898,898,2018-04-02,11,50,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
919,919,2018-04-02,12,17,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
921,921,2018-04-02,12,17,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
931,931,2018-04-02,12,36,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
942,942,2018-04-02,12,48,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
951,951,2018-04-02,12,56,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
953,953,2018-04-02,12,56,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
967,967,2018-04-02,13,4,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
974,974,2018-04-02,13,12,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
977,977,2018-04-02,13,19,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1022,1022,2018-04-02,14,47,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1023,1023,2018-04-02,14,47,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1029,1029,2018-04-02,15,40,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1034,1034,2018-04-02,15,59,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1038,1038,2018-04-02,16,1,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1044,1044,2018-04-02,16,2,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1048,1048,2018-04-02,16,10,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1049,1049,2018-04-02,16,11,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1064,1064,2018-04-02,16,33,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1077,1077,2018-04-02,17,14,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1093,1093,2018-04-02,17,17,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1097,1097,2018-04-02,17,17,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1103,1103,2018-04-02,17,18,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1126,1126,2018-04-02,17,35,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
1133,1133,2018-04-02,17,38,4,2,Monday,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150668,150668,2018-04-16,16,42,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150678,150678,2018-04-16,17,8,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150685,150685,2018-04-16,17,9,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150694,150694,2018-04-16,17,11,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150696,150696,2018-04-16,17,18,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150697,150697,2018-04-16,17,18,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150711,150711,2018-04-16,17,52,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150713,150713,2018-04-16,17,52,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
150715,150715,2018-04-16,17,52,4,16,Monday,0,1,0,0,0,0,0,0,0,0,0
151276,151276,2018-04-23,9,18,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151282,151282,2018-04-23,11,25,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151305,151305,2018-04-23,14,51,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151318,151318,2018-04-23,15,59,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151340,151340,2018-04-23,16,22,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151341,151341,2018-04-23,16,26,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151343,151343,2018-04-23,17,8,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151345,151345,2018-04-23,17,8,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151359,151359,2018-04-23,17,52,4,23,Monday,0,1,0,0,0,0,0,0,0,0,0
151966,151966,2018-04-30,12,26,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
151968,151968,2018-04-30,12,26,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
151969,151969,2018-04-30,12,43,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
151985,151985,2018-04-30,13,45,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152006,152006,2018-04-30,15,26,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152020,152020,2018-04-30,15,47,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152021,152021,2018-04-30,15,47,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152024,152024,2018-04-30,15,52,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152028,152028,2018-04-30,16,21,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152040,152040,2018-04-30,16,49,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152061,152061,2018-04-30,17,18,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0
152080,152080,2018-04-30,17,52,4,30,Monday,0,1,0,0,0,0,0,0,0,0,0

In [33]:
tmp_df = df_original[(df_original["day"] == 2)]

In [19]:
group = df_original.groupby(["month","day", "week"]).count()

KeyError: 'month'

In [24]:
mean_df = group(["month", "week"]).mean()

TypeError: 'DataFrame' object is not callable